
.blog-color p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    text-align: justify;
    font-style: oblique;
    font-size: 120%;
    margin: 0;
}
.blog-color img{
    align-items: center;
    padding: 1%;
    /* padding-bottom: 3%; */

}
.blog-color .blog-color h1{
   padding-left: 40%;
}
.blog-color{
    background-color:transparent;
    padding-bottom:3%;
    padding-left: 1%;
    padding-right: 1%;
}